	* {
		/*		-webkit-user-select: none;*/
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-border-radius: 0;
		-webkit-box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-webkit-user-drag: none;
		/*		-moz-user-select: none;*/
		-moz-tap-highlight-color: rgba(0,0,0,0);
		-moz-border-radius: 0;
		-moz-box-sizing: border-box;
		-moz-font-smoothing: antialiased;
		-moz-user-drag: none;
	}

	@-webkit-keyframes shake {
		0% {} 15% {
			transform: rotate(25deg);
		}
		30% {
			transform: rotate(-25deg);
		}
		45% {
			transform: rotate(25deg);
		}
		65% {
			transform: rotate(-25deg);
		}
		100% {}
	}
	@-moz-keyframes shake {
		0% {} 15% {
			transform: rotate(25deg);
		}
		30% {
			transform: rotate(-25deg);
		}
		45% {
			transform: rotate(25deg);
		}
		65% {
			transform: rotate(-25deg);
		}
		100% {}
	}
	@-ms-keyframes shake {
		0% {} 15% {
			transform: rotate(25deg);
		}
		30% {
			transform: rotate(-25deg);
		}
		45% {
			transform: rotate(25deg);
		}
		65% {
			transform: rotate(-25deg);
		}
		100% {}
	}
	@-o-keyframes shake {
		0% {} 15% {
			transform: rotate(25deg);
		}
		30% {
			transform: rotate(-25deg);
		}
		45% {
			transform: rotate(25deg);
		}
		65% {
			transform: rotate(-25deg);
		}
		100% {}
	}
	@keyframes shake {
		0% {} 15% {
			transform: rotate(25deg);
		}
		30% {
			transform: rotate(-25deg);
		}
		45% {
			transform: rotate(25deg);
		}
		65% {
			transform: rotate(-25deg);
		}
		100% {}
	}

	a {
		color: inherit;
		text-decoration: none;
		transition: all 200ms ease;
		z-index: 3;
	}

	.mid {
		margin-top: 300px;
		position: relative;
		margin-bottom: 50px;
	}

	body {
		margin: 0;
		padding: 0;
		z-index: 2;
		background-color: #efefef;
	}

	#full {
		min-width: 100% !important;
		max-width: 100% !important;
		top: 0;
		position: absolute;
		z-index: -2400;
		background-size: cover;
		-webkit-filter: blur(5px);
		filter: blur(5px);

	/*    min-height: 90%;
	    min-width: 100%;
	    bottom: 0;
	    top: 0;
	    right: 0;
	    left: 0;
	    background-size: cover;
	    width: auto;
	    height: auto;
	    z-index: -200;
	    position: absolute;*/
	}

	nav {
		padding-top: 20px;
		z-index: 2;
	}

	.left {
		display: inline;
		margin-left: 25px;
	}

	.right {
		float: right;
		margin-right: 25px;
	}

	.right h3 {
		display: inline;
		margin-right: 20px;
	}


	.right a:hover {
		opacity: 0.5;
	}

	h1 {
		color: white;
		font-family:'Block';
		font-size: 72px;
		text-align: center;
		margin: 0 0 0 0;
		padding-top: 100px;
	}

	h3 {
		color: white;
		font-family: 'Clear';
		text-align: center;
		z-index: 1000;
	}

	.tagline {
		color: white;
		font-size: 30px;
		font-family: 'Clear';
		text-align: center;
	}

	#ideas {
		background-color: #0f4366;
		border: 2px solid #0f4366;
		padding: 10px;
		transition: all 200ms ease;
	}

	#ideas:hover {
opacity: 0.6;
		cursor: pointer;
	}

	.logo {
		width: 15%;
		display: inline;
	}

	.loadLogo {
		left: 50%;
		display: block;
		position: absolute;
		z-index: 5000;
		width: 350px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 15%;
	}

	.container {
		opacity: 0;
		position: relative;
		top: 10px;
		margin-top: 280px;
		display: block;
	}	

	/*.motto {
		width: 550px;
		height: auto;
		margin: 10px auto 0 auto;
		display: block;
	}
	*/

	.motto {
		/*	width: 550px;*/
		height: auto;
		margin: 10px auto 0 auto;
		display: block;
		font-size: 75px;
		padding-top: 0;
		color: #20b6e6;
	}
	#videoBackground {
		-webkit-box-shadow: 2px 4px 6px 10000px rgba(0,0,0,0.9);
		-moz-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.9);
		-ms-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.9);
		-o-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.9);
		box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.9);
		z-index: 5000;
		position: fixed;
		left: 50%;
		width: 800px;
		height: 450px;
		top: 15%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		background-size: cover;
		display: none;
		background-color: rgba(0,0,0,0.9);
	}

	.socialLogo {
		width: 1px;
		height: auto;
		display: inline;
		margin: 0 75px 0 75px;
		transition: all 500ms ease;
		-webkit-backface-visibility: hidden;
		position: relative;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/
	}

	.socialLogo:hover {
		opacity: 0.5;
		cursor: pointer;
		position: relative;
		-webkit-backface-visibility: hidden;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/

	}

	.safariSocialLogo {
		width: 1px;
		height: auto;
		display: inline;
		margin: 0 75px 0 75px;
		transition: all 500ms ease;
		-webkit-backface-visibility: hidden;
		position: relative;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/
	}

	.safariSocialLogo:hover {
		opacity: 0.5;
		cursor: pointer;
		position: relative;
		-webkit-backface-visibility: hidden;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/

	}

	.socialLink {
		-webkit-backface-visibility: hidden;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/
	}

	.socialLink:hover {
		-webkit-backface-visibility: hidden;
/*		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);*/
	}

	.wrap {
		position: absolute;
		z-index: 400;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 35%;
		margin: 50px 0 50px 0;
		white-space: nowrap;
	}

	.loading {
		position: absolute;
		z-index: 400;
		top: 35%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-box-shadow: 2px 4px 6px 10000px rgba(0,0,0,0.95);
		-moz-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.95);
		-ms-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.95);
		-o-box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.95);
		box-shadow: 2px 4px 5px 10000px rgba(0,0,0,0.95);
		background-color: rgba(0,0,0,0.95);;
/*		display: none;
		position: absolute;
		width: 100%;
		z-index: 5000;
		height: auto;
		background-color: #efefef;
		vertical-align: middle;
		top: 50%;*/

	}

	#involveBackground {
		border: 2px solid #0f4366;
		display: none;
		position:  fixed;
		width: 95%;
		z-index: 5000;
		left: 50%;
		height: auto;
		background-color: #efefef;
		vertical-align: middle;
		top: 3%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-box-shadow: -1px -2px 7px 100000px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px -2px 7px 100000px rgba(0,0,0,0.75);
		box-shadow: -1px -2px 7px 100000px rgba(0,0,0,0.75);
	}

	.involvedLogo {
		width: 150px;
		margin: 0 auto 20px auto;
		display: block;
	}

	.prefix {
		font-family: "Block";
		font-size: 25px;
		color: #0f4366;
		margin-top: 0;
	}

	.mottoParagraph {
		width: 75%;
		text-align: center;
		margin: 0 auto 10px auto;
		display: block;
	}

	#involveBackground td h3 {
		position: absolute;
		width: 300px;
		font-size: 35px;
		margin: 100px 0 0 25px;
		padding: 5px 0 5px 0;
		background-color: rgba(44, 120, 156, 0.5);
	}

	.involvedDesc {
		position: absolute;
		text-align: center;
		width: 280px;
		color: white;
		font-size: 13px;
		padding: 0 10px 0 10px;
		z-index: 5000;
		margin: 75px 35px 0 35px;
		display: none;
	}

	#involveBackground td {
		padding: 0;
		margin: 0;
		transition: all 300ms ease;
	}

	.involveMotto {
		/*	width: 550px;*/
		height: auto;
		margin: 50px auto 20px auto;
		display: block;
		font-size: 50px;
		padding-top: 0;
		color: #20b6e6;
	}

	.involveTablePic {
		width: 300px;
		transition: all 300ms ease;
		margin-right: 20px;
	}

	.involveClose {
		position: absolute;
		right: 30px;
		width: 25px;
		top: 2.5%;
		margin-top: 0;
	}

	.involveClose:hover {
		opacity: 0.6;
		cursor: pointer;
		-webkit-animation: shake .5s linear 0s 1 normal forwards;
		-moz-animation: shake .5s linear 0s 1 normal forwards;
		-ms-animation: shake .5s linear 0s 1 normal forwards;
		-o-animation: shake .5s linear 0s 1 normal forwards;
		animation: shake .5s linear 0s 1 normal forwards;
	}

	#black {
		background-color: black;
		width: 300px;
		height: 225px;
		margin-right: 25px;
		margin-left: 25px;
		transition: all 300ms ease;
	}

	.close {
		display: none;
		z-index: 50000;
		position: absolute;
		right: 25px;
		color: black;
		font-size: 15px;
	}

	.close:hover {
		color: white;
	}

	p {
		font-family: 'Clear';
		text-align: center;
		line-height: 1.3em;
		font-size: 20px;
	}

	.play {
		margin: 40px auto 40px auto;
		display: block;
		width: 80px;
		cursor: pointer;
		opacity: 0.7;
	}

	.play:hover {
		opacity: 1;
	}

	.bold {
		font-weight: bold;
	}

	.tablePic {
		width: 450px;
	}

	tr {
		text-align: center;
	}

	td {
		padding: 20px;
		transition: all 300ms ease;
	}

	td:hover {
		cursor: pointer;
		/*	opacity: .9;*/
	}

	td h3 {
		position: absolute;
		width: 450px;
		font-size: 50px;
		margin-top: 140px;
		padding: 5px 0 5px 0;
		background-color: rgba(44, 120, 156, 0.5);
	}

	table {
		margin: 0 auto 0 auto;
		text-align: center;
	}

	.learnLink {
		background-color: rgba(166, 166, 166, 0.4);
		display: block;
		width: 25%;
		margin: 0 auto 0 auto;
		padding: 15px 0 15px 0;
		font-size: 25px;
		-o-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
	}

	.newsletter {
		background-color: rgba(0, 0, 0, 0.6);
		display: block;
		width: 30%;
		margin: 100px auto 0 auto;
		padding: 30px 0 30px 0;
		font-size: 25px;
		-o-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		position: absolute;
		top: 50%;
		z-index: 500;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.newsletter:hover {
		cursor:pointer;
		background-color: rgba(0, 0, 0, .8);
	}

	.newsletterForm {
		margin: 20px auto 0 auto;
		display: block;
		text-align: center;
		display: none;
	}

	input {
		font-size: 25px;
		padding: 5px 0 5px 0;
		text-align: center;
		font-family: "Block";
		color: #0f4366;
	}

	#submit {
		background-color: #0f4366;
		color: white;
		width: 150px;
		outline: none;
		padding: 15px;
		-webkit-box-shadow: none;     
		-webkit-box-shadow: none;   
		box-shadow: none;
		border: none;
		margin-top: 20px;

	}

	#submit:hover {
		opacity: 0.7;
		cursor: pointer;
	}

	#involvedBtn {
		background-color: #0f4366;
		border: 2px solid #0f4366;
		padding: 10px;
		width: 150px;
		margin: 0 auto 0 auto;
		display: block;
		transition: all 200ms ease;
	}

	#involvedBtn:hover {
		background-color: #efefef;
		color: #0f4366;
		border: 2px solid #0f4366;
		cursor: pointer;
	}

	.learnLink:hover {
		cursor:pointer;
		background-color: rgba(166, 166, 166, .7);
	}

	.contact {
		width: 100%;
		height: 800px;
		position: relative;
		background-color: #0f4366;
		height: 500px;
	}
	.contactContainer {
	}

	.contact h1 {
		position: absolute;
		top: 10%;
		z-index: 400;
		padding-top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 75%;
		display: none;
	}

	.contactBackground {
		position: absolute;
		width: 100%;
		height: auto;
		-webkit-filter: brightness(0.5);
		filter: brightness(0.5);
	}

	footer {
		width: 400px;
		margin: 80px auto 50px auto;
		display: block;
		bottom: 0;
	}

	footer img {
		display: inline-block;
	}

	.footerUmich {
		width: 150px;
		margin-left: 20px;
	}

	.footerOptimize { 
		width: 50%;}

		/*smaller than laptop*/

		@media only screen and (max-width: 1230px){
			.container {
				margin-top: 300px;
			}	

			h1 {
				font-size: 65px;
			}

			.involveTablePic {
				width: 300px;
			}

			#black {
				width: 300px;
				height: 225px;
			}

			#involveBackground td h3 {
				width: 300px;
				margin-top: 50px;
				font-size: 32px;
			}

			.involvedDesc {
				width: 280px;
				margin-top: 70px;
				font-size: 13px;
			}

			.involvedDesc:last-child{
				margin-top: 50px;
			}

			.mid {
				margin-top: 120px;
			}

		}

		@media only screen and (max-width: 1200px){

			.mid {
				margin-top: 20px;
			}

			.container {
				margin-top: 250px;
			}
		}

		@media only screen and (max-width: 1100px){
			.container {
				margin-top: 20px;
			}	

			h1 {
				/*		padding-top: 140px;*/
				font-size: 65px;
			}
			.involveTablePic {
				width: 250px;
			}

			#black {
				width: 250px;
				height: 188px;
			}

			#involveBackground td h3 {
				width: 250px;
				margin-top: 35px;
				font-size: 32px;
			}

			.involvedDesc {
				width: 250px;
				margin-top: 60px;
				font-size: 12px;
				margin-right: 25px;
				margin-left: 25px;
			}

			#potential {
				font-size: 25px !important;
			}

			.involveMotto {
				font-size: 45px;
			}

			.mid {
				margin-top: 200px;
			}
		}

		@media only screen and (max-width: 1024px){

			h1 {
				font-size: 50px;
				padding-top: 50px;
			}

			.newsletter {
				width: 50%;
			}

			.involveTablePic {
				width: 275px;
			}

			#black {
				width: 275px;
				height: 207px;
				margin-right: 10px;
				margin-left: 10px;
			}

			#involveBackground td h3 {
				width: 275px;
				margin-top: 35px;
				font-size: 25px;
				margin-left: 10px;
			}

			#potential {
				font-size: 25px !important;
				padding-bottom: 5px !important;
				padding-top: 5px !important;
			}

			.involvedDesc {
				width: 275px;
				margin-top: 50px;
				font-size: 13px;
				margin-left: 10px;
				margin-right: 10px;
			}

			.involveMotto {
				font-size: 40px;
			}

			.mid {
				margin-top: 225px;
			}

		}	

		@media only screen and (max-width: 1000px){
			.container {
				margin-top: 200px;
			}	

			h1 {
				font-size: 50px;
				padding-top: 50px;
			}

/*			video {
				display: none;
				}*/

				.top {
					background-color: #0f4366;
					height: 636px;
				}	

				.mid {
					margin-top: 0;
				}
				.container {
					margin-top: 30px;
				}


			}

			@media only screen and (max-width: 950px){
				.involveTablePic {
					width: 250px;
				}

				#black {
					width: 250px;
					height: 188px;
				}

				#involveBackground td h3 {
					width: 250px;
					margin-top: 50px;
					font-size: 23px;
				}

				.involvedDesc {
					width: 250px;
					margin-top: 50px;
					font-size: 12px;
				}

				.involveMotto {
					font-size: 35px;
				}

				.potential {
					font-size: 20px !important;
				}
			}


			@media only screen and (max-width: 900px){
				.motto {
					font-size: 45px;
				}
				.container p {
					font-family: 'Clear';
					text-align: center;
					line-height: 1.3em;
					font-size: 20px;
					width: 90%;
					margin: 0 auto 20px auto;
					display: block;
				}
			}

			@media only screen and (max-width: 880px){

				.hero-text {
					margin-top: 125px
				}
	h1 {
					font-size: 55px;
					width: 80%;
					padding-top: 20px;
					color: white;
					margin: 0 auto 0 auto;
				}

				#potential {
					font-size: 30px !important;
				}

				.involveTablePic {
					width: 400px;
					margin-bottom: 0px;
				}

				#black {
					width: 400px;
					height: 300px;
					margin-right: 10px;
					margin-left: 10px;
					margin-top: 50px;
				}

				#involveBackground td h3 {
					width: 400px;
					margin-top: 50px;
					font-size: 35px;
					margin-right: 10px;
					margin-left: 10px;
				}

				.involvedDesc {
					width: 400px;
					margin-top: 65px;
					font-size: 20px;
					margin-left: 10px;
					margin-right: 10px;
				}

				.prefix {
					font-size: 30px;
					margin-bottom: 0;
				}

				.top {
					background-color: #0f4366;
					height: 736px;
				}	

				.tagline {
					font-size: 20px;
				}

				.position {
					display: block;
					margin-bottom: 20px;
				}

				.involveMotto {
					font-size: 40px;
					margin-top: 20px;
				}

				.involvedLogo {
					margin-bottom: 40px;
				}

				.involveClose {
					position: absolute;
					right: 10px;
					width: 25px;
					top: 10px;
					margin-top: 0;
				}

				#involveBackground {
					position: absolute;
				}

				.involveWrap {
					margin-top: 50px;
				}

				.mottoParagraph {
					margin-top: 20px;
					margin-bottom: 0;
				}	}



/*			@media only screen and (max-width: 793px){
				.involveTablePic {
					width: 200px;
				}

				.position::after {
					content:"\A"; white-space:pre;
					margin-right: 
				}

				#black {
					width: 200px;
					height: 150px;
					margin-right: 10px;
					margin-left: 10px;
				}

				#involveBackground td h3 {
					width: 200px;
					margin-top: 50px;
					font-size: 23px;
					margin-right: 10px;
					margin-left: 10px;
				}

				.involvedDesc {
					width: 200px;
					margin-top: 55px;
					font-size: 12px;
				}

				.involveMotto {
					font-size: 30px;
				}
				#potential {
					font-size: 20px !important;
				}
			}*/
			@media only screen and (max-width: 650px){

				h1 {
					font-size: 45px;
					padding-top: 20px;
					color: white;
					width: 80%;
					text-align: center;
					margin: 0 auto 0 auto;
				}

				.hero-text {
					margin-top: 20px;
				}
				.top {
					background-color: #0f4366;
					height: 736px;
				}	

				.tagline {
					font-size: 20px;
				}


				.learnLink {
					width: 50%;
					margin-top: 50px;
				}

				.logo {
					display: block;
					margin: 0 auto 0 auto;
					width: 250px;
				}

				.right {
					display: block;
					margin: 20px 0 0 0;
					text-align: center;
					float: none;
					transform: translateY(450px);
					-webkit-transform: translateY(450px);
					-moz-transform: translateY(450px);
					-o-transform: translateY(450px);
					-ms-transform: translateY(450px);	
					font-size: 20px;
				}

				#ideas {
					margin: 50px 0 0 0;
					padding: 0;
				}

				#ideas:hover {
					opacity: 0.8;
					background-color: inherit;
					color: white;
				}

				.motto {
					font-size: 45px;
				}

				.container {
					margin-top: 50px;
				}


				.mid {
					margin-top: 0;
				}

				.container p {
					font-size: 16px;
					width: 85%;
					margin: 0 auto 20px auto;
				}

				.socialLogo {
					width: 1px;
					margin: 0 40px 0 40px;
				}

				.newsletter {
					width: 100%;
				}

				nav {
					height: 100px;
				}

				footer img {
					width: 10%;
					display: block;
					margin: 0 auto 30px auto !important;
				}

				footer {
					margin-top: 20px;
					margin-bottom: 20px;
					width: 100%;
				}

				footer p {
					width: 100% !important;
				}

				.involveTablePic {
					width: 400px;
					/*	margin-top: 200px;*/
				}

				#black {
					width: 400px;
					height: 300px;
					margin-right: 10px;
					margin-left: 10px;
					margin-top: 50px;
				}

				.prefix {
					font-size: 30px;
					margin-bottom: 0;
				}

				.involveWrap p {
					margin-top: 50px
				}


				#involveBackground td h3 {
					width: 400px;
					margin-top: 50px;
					font-size: 35px;
					margin-right: 10px;
					margin-left: 10px;
					margin-top: 100px;
				}

				.involvedDesc {
					width: 400px;
					margin-top: 80px !important;
					font-size: 18px;
				}

				.top {
					background-color: #0f4366;
					height: 736px;
				}	

				.tagline {
					font-size: 20px;
				}

				.position {
					display: block;
					margin-bottom: 20px;
				}

				.involveMotto {
					font-size: 40px;
					margin-top: 20px;
				}

				.involvedLogo {
					margin-bottom: 40px;
				}

				.involveClose {
					position: absolute;
					right: 10px;
					width: 25px;
					top: 10px;
					margin-top: 0;
				}

				#involveBackground {
					position: absolute;
				}

				.mottoParagraph {
					margin-top: 25px;
				}
			}

/*
			@media only screen and (max-width: 750px){
				h1 {
					font-size: 55px;
					padding-top: 20px;
					color: white;
				}

				.involveTablePic {
					width: 400px;
					margin-bottom: 0px;
				}

				#black {
					width: 400px;
					height: 300px;
					margin-right: 10px;
					margin-left: 10px;
					margin-top: 30px;
				}

				#involveBackground td h3 {
					width: 400px;
					margin-top: 50px;
					font-size: 23px;
					margin-right: 10px;
					margin-left: 10px;
				}

				.involvedDesc {
					width: 400px;
					margin-top: 55px;
					font-size: 14px;
					margin-left: 10px;
					margin-right: 10px;
				}

				.top {
					background-color: #0f4366;
					height: 736px;
				}	

				.tagline {
					font-size: 20px;
				}

				.position {
					display: block;
					margin-bottom: 20px;
				}

				.involveMotto {
					font-size: 40px;
					margin-top: 20px;
				}

				.involvedLogo {
					margin-bottom: 40px;
				}

				.involveClose {
					position: absolute;
					right: 10px;
					width: 25px;
					top: 10px;
					margin-top: 0;
				}

				#involveBackground {
					position: absolute;
				}

				.involveWrap {
					margin-top: 50px;
				}

				.mottoParagraph {
					margin-top: 0px;
					margin-bottom: 50px;
				}
			}*/


			@media only screen and (max-width: 475px){

				h1 {
					font-size: 45px;
					padding-top: 20px;
					color: white;
				}


				.top {
					background-color: #0f4366;
					height: 736px;
				}	

				.tagline {
					font-size: 20px;
				}

				.position {
					display: block;
					margin-bottom: 20px;
				}

				.mottoParagraph{
					margin-top: 10px !important;
				}

				.involveMotto {
					font-size: 35px;
					margin-top: 50px;
				}

				.involvedLogo {
					margin-bottom: 40px;
				}

				.involveClose {
					position: absolute;
					right: 10px;
					width: 25px;
					top: 10px;
					margin-top: 0;
				}

/*		.play {
			display: none;
			}*/

			.learnLink {
				width: 50%;
				margin-top: 50px;
			}

			.logo {
				display: block;
				margin: 0 auto 0 auto;
				width: 50%;
			}

			.right {
				display: block;
				margin: 20px 0 0 0;
				text-align: center;
				float: none;
				transform: translateY(450px);
				-webkit-transform: translateY(450px);
				-moz-transform: translateY(450px);
				-o-transform: translateY(450px);
				-ms-transform: translateY(450px);	
				font-size: 20px;
			}

			#ideas {
				margin: 50px 0 0 0;
				padding: 0;
			}

			#ideas:hover {
				opacity: 0.5;
				background-color: inherit;
				color: white;
			}

			.motto {
				font-size: 45px;
			}

			.container {
				margin-top: 50px;
			}


			.mid {
				margin-top: 0;
			}

			.container p {
				font-size: 15px;
				width: 100%;
				margin-right: 0 !important;
			}

			.socialLogo {
				width: 1px;
				margin: 0 40px 0 40px;
			}

			.newsletter {
				width: 100%;
			}

			nav {
				height: 100px;
			}

			footer img {
				width: 10%;
				display: block;
				margin: 0 auto 30px auto !important;
			}

			footer {
				margin-top: 20px;
				margin-bottom: 20px;
				width: 100%;
			}

			footer p {
				width: 100% !important;
			}

					.involveTablePic {
					width: 300px;
					margin-bottom: 0px;
				}

				#black {
					width: 300px;
					height: 225px;
					margin-right: 10px;
					margin-left: 10px;
					margin-top: 50px;
				}

				#involveBackground td h3 {
					width: 300px;
					margin-top: 50px;
					font-size: 35px;
					margin-right: 10px;
					margin-left: 10px;
				}

				.involvedDesc {
					width: 300px;
					margin-top: 65px !important;
					font-size: 14px;
					margin-left: 10px;
					margin-right: 10px;
				}

		}

	
@media only screen and (max-width: 437px){ 
	h1 {
		font-size: 40px;
	}
}

		@media only screen and (max-width: 375px){

			h1 {
				font-size: 35px;
				padding-top: 20px;
				color: white;
			}


			.top {
				background-color: #0f4366;
				height: 568px;
			}	

			.tagline {
				font-size: 20px;
			}
/*
			.play {
				display: none;
			}*/

			.learnLink {
				width: 50%;
				margin-top: 50px;
				font-size: 20px;
			}

			.logo {
				display: block;
				margin: 0 auto 0 auto;
				width: 50%;
			}

			.involveMotto {
				font-size: 30px;
				/*			margin-top:450px;*/
			}

			.involveClose {
				position: absolute;
				right: 10px;
				width: 35px;
				top: 400px;
				margin-top: 0;
			}
			.right {
				display: block;
				margin: 0px 0 0 0;
				text-align: center;
				float: none;
				transform: translateY(350px);
				-webkit-transform: translateY(350px);
				-moz-transform: translateY(350px);
				-o-transform: translateY(350px);
				-ms-transform: translateY(350px);	
				font-size: 20px;
			}

			#ideas {
				margin: 50px 0 0 0;
				padding: 0;
			}

			#ideas:hover {
				opacity: 0.5;
				background-color: inherit;
				color: white;
			}

			.motto {
				font-size: 32px;
			}

			.container {
				margin-top: 50px;
			}

			.container p {
				font-size: 15px;
				width: 100%;
				margin-right: 0 !important;
			}

			.socialLogo {
				width: 1px;
				margin: 0 40px 0 40px;
			}

			.newsletter {
				width: 100%;
			}

			nav {
				height: 100px;
			}

			footer img {
				width: 10%;
				display: block;
				margin: 0 auto 30px auto !important;
			}

			footer {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			footer p {
				width: 100% !important;
			}

		}


		@media only screen and (max-width: 320px){

			#involveBackground {
				position: absolute;
			}

			h1 {
				font-size: 35px;
				padding-top: 20px;
				color: white;
			}


			.involveMotto {
				font-size: 25px;
				margin-top:30px;
			}

			.involveClose {
				position: absolute;
				right: 10px;
				width: 20px;
				top: 10px;
				margin-top: 0;
			}

			.top {
				background-color: #0f4366;
				height: 568px;
			}	

			.tagline {
				font-size: 20px;
			}

			.play {
				display: none;
			}

			.learnLink {
				width: 50%;
				margin-top: 50px;
				font-size: 25px;
			}

			.logo {
				display: block;
				margin: 0 auto 0 auto;
				width: 50%;
			}

			.right {
				display: block;
				margin: 0px 0 0 0;
				text-align: center;
				float: none;
				transform: translateY(350px);
				-webkit-transform: translateY(350px);
				-moz-transform: translateY(350px);
				-o-transform: translateY(350px);
				-ms-transform: translateY(350px);	
				font-size: 20px;
			}

			#ideas {
				margin: 50px 0 0 0;
				padding: 0;
			}

			#ideas:hover {
				opacity: 0.5;
				background-color: inherit;
				color: white;
			}

			.motto {
				font-size: 45px;
			}

			.container {
				margin-top: 50px;
			}

			.container p {
				font-size: 15px;
				width: 100%;
				margin-right: 0 !important;
			}

			.socialLogo {
				width: 1px;
				margin: 0 40px 0 40px;
			}

			.newsletter {
				width: 100%;
			}

			nav {
				height: 100px;
			}

			footer img {
				width: 10%;
				display: block;
				margin: 0 auto 30px auto !important;
			}

			footer {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			footer p {
				width: 100% !important;
			}

		}

		/*larger than laptop*/

		@media only screen and (min-width: 1300px){
			.container {
				margin-top: 300px;
			}	
		}

		@media only screen and (min-width: 1350px){
			.container {
				margin-top: 320px;
			}	
		}

		@media only screen and (min-width: 1400px){
			.container {
				margin-top: 400px;
			}	
		}

		@media only screen and (min-width: 1450px){
			.container {
				margin-top: 420px;
			}	
		}

		@media only screen and (min-width: 1500px){
			.container {
				margin-top: 440px;
			}	
		}

		@media only screen and (min-width: 1550px){
			.container {
				margin-top: 460px;
			}	
		}

		@media only screen and (min-width: 1600px){
			.container {
				margin-top: 480px;
			}	
		}

		@media only screen and (min-width: 1650px){
			.container {
				margin-top: 520px;
			}	
		}

		@media only screen and (min-width: 1700px){
			.container {
				margin-top: 540px;
			}	
		}

		@media only screen and (min-width: 1750px){
			.container {
				margin-top: 540px;
			}	
		}

		@media only screen and (min-width: 1800px){
			.container {
				margin-top: 560px;
			}	
		}

		@media only screen and (min-width: 1850px){
			.container {
				margin-top: 600px;
			}	
		}

		@media only screen and (min-width: 1900px){
			.container {
				margin-top: 630px;
			}	
		}

		@media only screen and (min-width: 1950px){
			.container {
				margin-top: 650px;
			}	
		}

		@media only screen and (min-width: 2000px){
			.container {
				margin-top: 670px;
			}	
		}
		
		@media only screen and (min-width: 2100px){
			.container {
				margin-top: 710px;
			}	
		}

		@media only screen and (min-width: 2150px){
			.container {
				margin-top: 730px;
			}	
		}

		@media only screen and (min-width: 2200px){
			.container {
				margin-top: 750px;
			}	
		}
		
		@media only screen and (min-width: 2250px){
			.container {
				margin-top: 780px;
			}	
		}
		
		@media only screen and (min-width: 2300px){
			.container {
				margin-top: 820px;
			}	
		}
		
		@media only screen and (min-width: 2350px){
			.container {
				margin-top: 840px;
			}	
		}
		
		@media only screen and (min-width: 2400px){
			.container {
				margin-top: 870px;
			}	
		}
		
		@media only screen and (min-width: 2450px){
			.container {
				margin-top: 900px;
			}	
		}
		
		@media only screen and (min-width: 2500px){
			.container {
				margin-top: 930px;
			}	
		}
		
		@media only screen and (min-width: 2550px){
			.container {
				margin-top: 960px;
			}	
		}
		
		@media only screen and (min-width: 2600px){
			.container {
				margin-top: 990px;
			}	
		}
		
		


