extends ../layout

block content
	div.team
	section.container
		h3 Optimize Courses
		p. Need help in bussiness, or need just getting your idea to be a product? Come to our events and learn about our free courses we offer in various different subjects.
				
