extends layout

block content
	div.team
	section.container
		h3 Friends and Mentors
		p With the support from our friends and mentors, students gain various knowledge in development and growing their idea into products. 
