extends ../layout

block content
	div.team
	section.container
		div
			img(src="/imgs/optimize.png" class="img-responsive center-block")
		h3	What is optiMize?
		p.	optiMize is a student-driven social innovation movement that spans 17 of the 19 schools and colleges at the University of Michigan. We strive to create a safe, diverse community that works together to implement innovations that change the world for the better.
		p.	Our flagship program is the Social Innovation Challenge. Over the course of the winter semester, multidisciplinary student teams develop ideas to make the world better into real, implementable projects. In the one year since our founding, our community’s impact has blown the top off our wildest dreams.
		p.	Our students have utilized 20,000 volunteer hours to harvest more than 10,000 pounds of fresh produce in the North End of Detroit. They've provided purpose discovery and action planning for hundreds of young Michigan students, developed entrepreneurial training programs for Metro Detroit high schoolers, and provided one-to-one financial coaching to help low income residents avoid predatory lenders. These are just a few examples of more than 50 projects that have developed and grown with optiMize.
		p.	We hope you'll join us. All you have to do is stop waiting for someone else to change the world and ask yourself, "Why not me?"
