extends ../layout

block content
	div.team
	section.container
		div
			h3.text-center 2015 Summer Fellows
		div.row
//				each team in teams
//					div.col-sm-6.col-md-4.teamcntr
//						div.thumbnail
//							-var imgurl= team.teamName.replace(/ /g, '_').toLowerCase();
//							img(src='/imgs/optimize_teamlogos_2015/'+imgurl+'.png', alt=team.teamName+" team image")
//							div.caption
//								h3= team.teamName
