head
    title= 'Optimize Michigan'
    meta(name="description", content="optiMize is a student-driven social innovation movement that spans 17 of the 19 schools and colleges at the University of Michigan. We strive to create a safe, diverse community that works together to implement innovations that change the world for the better.")
    meta(name='keywords', content='Optimize Michigan, Social Innovation, Ideas into products')
    meta(http-equiv = 'content-type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0' )
    meta(name="author", content='Optimize Michigan')
    meta(http-equiv="content-language", content='en-US')
    //- open graph seo meta tags
    meta(property="og:title" content="Optimize Michigan")
    meta(property="og:site_name" content="Optimize Michigan")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.optimizemichigan.org")
    link(rel='canonical', href='https://www.optimizemichigan.org')
    link(rel='icon', href='imgs/globe.ico')
    link(rel='shortcut icon', href='imgs/globe.ico')
    link(rel='stylesheet', href='css/home.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster')
