extends layout

block content
	div.team
	section.container
		h3 You seem to be lost :(
		p Sorry, but the page you are looking for doesn't seem to exist.
		a(href='/') Please return to our homepage.
	
