footer
	div.footer-content
		a.hide(href="https://www.lsa.umich.edu/")
			span.umich | LSA
		div.email
			a(href="mailto:socialinnovators@umich.edu") socialinnovators@umich.edu
		h5 © 2015, optiMize and UMich College of LSA. All Rights Reserved.
