extends ../layout

block content
	section.container
		h3 Optimize Social Innovation
		p We are working on getting awesome information about Social Innovation. So come back later to learn more about Social Innovation.
