extends ../layout

block content
	div.team
	section.container
		div
			h3 2015 Optimize Teams
		div.imgwrap
			img(src="/imgs/team.png" class="img-responsive center-block")
		div.row
			-var teams = ['Team 1', 'Team 2', 'Team 3']
				each team in teams
					div.col-sm-6.col-md-4
						div.thumbnail
							div.caption
								h3= team
