header
  a(href="/")
    div.logo.pull-left
  div.social.pull-right
    a(href="https://www.facebook.com/optiMizeMI" title="Optimize Facebook link")
      span.icn.fb
    a(href="http://www.twitter.com/optimizemi" title="Optimize Twitter Link")
      span.icn.twt
