extends layout

block content
	div.team
	section.container
		h3 About Us
		p The optiMize Challenge takes teams from idea to impact through a comprehensive, action-based program. Participants in the challenge learn the skills to change the world through skill-building workshops and mentorship from experienced social innovators. As semester progresses, teams will learn how to pitch their innovations and have the opportunity to receive funding to make their ideas a reality.
		p We're awarding $33,000 in prizes to the most promising teams in the Challenge to help launch their innovations and accelerate their impact. Furthermore, all year we have received extensive support in the form of time, resources, and instruction from several non-financial partners.
 
	
		
