extends ../layout

block content
	section
		div.mainlogo
			div.bg
				div.x
					h1
						span Meet tomorrow's
						| innovators
					a#playbtn.fancybox(href='https://www.youtube.com/watch?v=tIcvSc2cxGs&autoplay=1&controls=0')
						img.img-circle(src="assets/imgs/playbtn.png" alt='play video button')
		div.about-text.text-center
			h3 We are a social innovation community at University of Michigan. <br>
				| By students, for students, supported by @umichlsa and our community of mentors. <br>
				| We help turn ideas into impact and seed fund $100,000 to student teams every summer.
		div.container-fluid.content
			div.text-center.row
				div.col-md-7
					hgroup
						h2 Are you a
						h3 student?
					p Change is driven by people like you. So ask yourself, “Why not me?” We’re here to help you bring your ideas to life. Our community fuses principles of entrepreneurship, social justice, education, innovation, and sustainability. We’d love to chat and help you take the first steps.
					a(target="_blank" href="https://docs.google.com/a/umich.edu/forms/d/15laPTlXf7g455zG6P2oXMGP8cKkUNWXIEGYHDOBnVik/viewform")
						button.btn.yellow-btn Get in touch
				div.col-md-5
					img.img-rounded(src="assets/imgs/student_why_not_me.png", alt="Student holding why not me sign")
			div.text-center
					hr
					//- a(href="#") Checkout student stories here
			div.text-center.row
				div.col-md-5
					img.img-rounded(src="assets/imgs/mentor.jpg" alt="mentors teaching to students")
				div.col-md-7
					hgroup
						h2 Interested in
						h3 becoming a mentor?
					p Our mentors, leaders in business, nonprofits and education, invest their time to support student to take on our world’s pressing challenges. Mentors range in age from 22 to 75, and hold a wide variety of positions. Regardless of your age or job, we’d love to hear from you.
					a(target="_blank" href="https://docs.google.com/a/umich.edu/forms/d/16yaqDL8g8nr0cT7A_-f-Qttt9vJW4U3q4QfJaoanw-o/viewform")
						button.btn.yellow-btn Get in touch
			div.text-center
					hr
		#contact.contact.form
		script(src="assets/js/newsletter.js")
//			form.form-horizontal(action="subscribe" method="POST")
//				fieldset
//					legend Optimize Newsletter
//					div.form-group
//						input.form-control(type="text" name="name" placeholder="Name")
//					div.form-group
//						input.form-control(type="email" name="email" placeholder="Email")
//					div.form-group.text-right
//						input.btn.btn-primary.text-center(type="submit" value="Subscribe")
		div.text-center
			hr
