extends ../layout

block content
	div.team
	section.container
		h3 Meet Our Team
		div.row.teampics
			- var images= ['/imgs/people/tim.jpg', '/imgs/people/jeff.jpg', '/imgs/people/angelle.jpg']
				each image in images
					div.col-xs-6.col-md-4
						a(href="#" class="tumbnail") 
							img(src=image class="img-responsive")				
