extends ../layout

block content
	div.team
	section.container
		hgroup
			h3 Our Sponsors
			h4 Optimize wouldn't be possible without our generous sponsors and partners! 
		
		img(src="/imgs/2014sponsors.png" alt="2014 michgian optmize sponsors" class="img-responsive center-block")
